.glyphicon-chevron-left:before {
    content: "\e079";
	display:none;
}

.glyphicon-chevron-right:before {
    content: "\e079";
	display:none;
}

/* span.glyphicon.glyphicon-chevron-left {
    background-color: #068acd;
}

span.glyphicon.glyphicon-chevron-right {
    background-color: #068acd;
}
 */
 
 /* .carousel-inner .home-slide  {
    height: 535px;
} */
 .carousel-control.left {
	     background-image:none;
	 
 }
 .carousel-control.right {
	     background-image:none;
	 
 }

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 30px;
}

.header-text h2 span {
   /*  background-color: #2980b9; */
	    color: #fff;
	padding: 10px;
}

.header-text h3 span {
	/* background-color: #000; */
	    color: #fff;
	padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: #08a6c7;
    border: 2px solid #08a3c8;
    margin-right: 15px;
    font-size: 18px;
}
.btn-theme-1 {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
    font-size: 18px;
}

.btn-theme:hover {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.btn-theme-1:hover {
    color: #fff;
    background-color: #08a6c7;
    border-color: #08a6c7;
}


li.read-mre a {
    color: #068acd;
    font-weight: 600;
    text-decoration: none;
}
li.phone-num a {
    color: #fff;
}

li.mail a {
    color: #fff;
}


/** Portfolio section**/


#portfolio {  
    margin: 1rem 0;
    -webkit-column-count: 3; 
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}
.tile { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;

}
.tile:hover { 

}

.scale-anm {
  transform: scale(1);
}


.toolbar.mb2.mt2 {
    text-align: center;
}

.tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  
}

button.btn.fil-cat.port-filter-btn {
    background-color: #08a8c6;
    color: #fff;
    font-size: 17px;
}
/* .btn {
    font-family: Lato;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
} */

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

#filters {
	margin:1%;
	padding:0;
	list-style:none;
}

	#filters li {
		float:left;
	}
	
	#filters li span {
		display: block;
		padding:5px 20px;		
		text-decoration:none;
		color:#666;
		cursor: pointer;
	}
	
	#filters li span.active {
		background: #e95a44;
		color:#fff;
	}
 

.affix .logo1 {
    width: 175px;
}
.affix {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0px;
    height: 80px;
}
.affix .main-menu ul li ul li a {
    color: #fff;
    position: relative;
    padding: 10px;
}
.affix .main-menu ul li ul li a:hover {
    color: #1c283f;
  
}
.mnmenu-sec.affix .logo {
    padding: 6px;
    margin: 0px;
}
.affix .main-menu ul ul {
    background: #068acd none repeat scroll 0 0;
    left: 0;
    opacity: 0;
    padding: 10px;
    position: absolute;
    text-align: left;
    top: 80px;
    transition: all 0.4s ease 0s;
    visibility: hidden;
    z-index: 99999;
    border-top: 2px solid #1c283f;
}




section.project {
    padding-top: 30px;
    padding-bottom: 60px;
    margin-bottom: 60px;
}

section.clients-logo {
    margin-bottom: 60px;
    padding-bottom: 20px;
}




@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/* written by riliwan balogun http://www.facebook.com/riliwan.rabo*/
.board{
    width: 75%;
margin: 40px auto;
/* height: 500px; */
/* background: #fff; */
/*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    margin: 40px auto;
    margin-bottom: 0;
    box-sizing: border-box;

}

/* .board > div.board-inner{
    background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
    background-size: 30%;
} */

p.narrow{
    width: 60%;
    margin: 10px auto;
}

.liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 60%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tabs.one{
    color: rgb(34, 194, 34);border: 2px solid rgb(34, 194, 34);
}

li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}

span.round-tabs.two{
    color: #febe29;border: 2px solid #febe29;
}

li.active span.round-tabs.two{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}

span.round-tabs.three{
    color: #3e5e9a;border: 2px solid #3e5e9a;
}

li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}

span.round-tabs.four{
    color: #f1685e;border: 2px solid #f1685e;
}

li.active span.round-tabs.four{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.five{
    color: #999;border: 2px solid #999;
}

li.active span.round-tabs.five{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}

.nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.nav-tabs > li {
    width: 32%;
}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
.nav-tabs > li:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;
    
}
.nav-tabs > li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;
    
}
.nav-tabs > li a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.nav-tabs > li a:hover{
    background: transparent;
}

.tab-content{
}
.tab-pane{
   position: relative;
padding-top: 50px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}



@media( max-width : 585px ){
    
    .board {
width: 90%;
height:auto !important;
}
    span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
        }
    .nav-tabs > li a {
width: 50px;
height: 50px;
line-height:50px;
}

.nav-tabs > li.active:after {
content: " ";
position: absolute;
left: 35%;
}

.btn-outline-rounded {
    padding:12px 20px;
    }
}


h2.slide-txt {
    color: #fff;
    padding-top: 50px;
    /* text-transform: capitalize; */
    font-weight: normal;
    line-height: 50px;
}
.foot-mail a {
    color: #151414;
}
.foot-phone-num a {
    color: #151414;
}
.footer-wedget-three i {
    color: #151414;
}
span.foot-mail i {
    padding-right: 10px;
}
span.foot-phone-num  i {
    padding-right: 10px;
}
span.inter-client {
    font-size: 25px;
    color: #08a8c6;
	padding-left: 20px;
}
.brain-service {
    background-color: #f7f7f7;
}
.sec-title-service {
    text-align: center;
    margin: 0 0px 10px;
    padding-top: 30px;
}
.sec-title-service h1 {
    font-size: 33px;
    color: #08a8c6;
    font-weight: normal;
}
.home-h2 {
    padding-top: 30px;
}

li span.list-head {
    position: relative;
    bottom: 15px;
    font-weight: 600;
    color: #0090d3;
}
.sec-title-h3 h3 {
    font-size: 22px;
    color: #08a8c6;
    font-weight: normal;
    text-transform: capitalize;
}

.pagehding-sec-do {
    background-image: url(../img/bg/what-do.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    padding: 70px 0;
    position: relative;
    height: 300px;
}
.highlight {
    background-color: #1c283f;
    color: #fff;
    height: auto;
    padding: 22px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 30px;
    border: 1px solid #1c283f;
}
h3.highlight-h3 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
a.knowmore {
    background: #068acd none repeat scroll 0 0;
    /* border-radius: 60px; */
    color: #fff;
    /* font-weight: bold; */
    padding: 10px 30px;
    text-transform: uppercase;
	border: 2px solid #068acd;
}
a.knowmore:hover {
    background-color: #fff;
    color: #068acd;
    border: 2px solid #068acd;
}
i.fa-android {
    color: #c1d919;
}


/* i.fa-apple {
    color: #1c283f;
} */



.service-box {
    background-color: #f6f6f6;
    height: 280px;
    padding: 22px;
   /*  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    margin-bottom: 30px;
	    border: 1px solid #dedcdc;
}
.service-box:hover {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.14), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.highlight:hover {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.14), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.icon-img {
    text-align: center;
	padding-bottom: 15px;
}
.icon-h3 {
   font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: #08a8cb;
}
.icon-txt {
    text-align: center;
}
.testimonial-sec {
   
    background-image: url(../img/bg/testimonials-bg.jpg);
    background-size: contain;
}
.testimonial-title h1 {
    text-align: center;
    color: #c8c5c5;
}
.client-sec-title {
    margin: 30px 0px 50px;
    text-align: center;
    
   
}
.client-sec-title h1 {
    font-weight: lighter;
    color: #08a8ca;
   
}
.contact-address i {
    color: #068acd;
    padding-right: 10px;
    font-size: 20px;
}
h2.contact-h2 {
    font-size: 25px;
    color: #08a8c6;
    font-weight: normal;
    text-transform: none;
}

h3.cont-h3 {
    color: #08a8c6;
}
.col-md-8.social {
    padding-top: 40px;
    text-align: center;
	padding-bottom: 40px;
}
span.social-icon i {
    border: 1px solid #068acd;
    color: #068acd;
    
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    width: 40px;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 100%;
}
span.social-icon i:hover {
    border: 1px solid #08bbe0;
    color: #f5fcff;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    width: 40px;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 100%;
    background-color: #08a8c6;
}
section.manufacture {
    padding-top: 30px;
    margin-top: 30px;
}
.side-box {
    background-color: #f6f6f6;
    height: 250px;
    padding: 22px;
    /* box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    margin-bottom: 30px;
    border: 1px solid #dedcdc;
}
h3.side-h3 {
    font-size: 20px;
    font-weight: 600;
    color: #08a8cb;
    text-transform: uppercase;
	border-bottom: 2px solid #1c283f;
    padding-bottom: 10px;
}
span.left-icon i {
    color: #08a8cb;
    margin-right: 15px;
	    padding-bottom: 15px;

}
.row.store-link {
    text-align: center;
	padding-top: 30px;
}
   h2.modal-title {
    font-weight: lighter;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}
i.fa.fa-window-close {
    color: #fff;
}
.form-border-shape {
    background: #fff none repeat scroll 0 0;
    color: #fff;
    display: block;
    height: 3px;
    left: 0;
    margin: 20px auto;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    width: 80px;
}
.form-border-shape::before {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 100px;
}
.form-border-shape::after {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    right: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 100px;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #ffffff;
    background-color: #068acd;

	
}

.pagehding-sec-manu {
    background-image: url(../img/bg/manufacturing.jpg);
    background-position: top;
    background-repeat: no-repeat;
    padding: 70px 0;
    position: relative;
    height: 250px;
    background-size: cover;
}
.pagehding-sec-auto {
    background-image: url(../img/bg/automobile.jpg);
    background-position: top;
    background-repeat: no-repeat;
    padding: 70px 0;
    position: relative;
    height: 250px;
    background-size: cover;
}
.pagehding-sec-energy {
    background-image: url(../img/bg/energy.jpg);
    background-position: top;
    background-repeat: no-repeat;
    padding: 70px 0;
    position: relative;
    height: 250px;
    background-size: cover;
}
.pagehding-sec-contact{
    background-image: url(../img/bg/contact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px 0;
    position: relative;
    height: 250px;
    background-size: cover;
}
.pagehding-sec-work{
    background-image: url(../img/bg/bg-our-work.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px 0;
    position: relative;
    height: 250px;
    background-size: cover;
}
.pagehding-android-work{
    background-image: url(../img//bg/android-bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    padding: 70px 0;
    position: relative;
    height: 250px;
    background-size: cover;
}
.pagehding-ios-work{
    background-image: url(../img/bg/ios_banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px 0;
    position: relative;
    height: 250px;
    background-size: cover;
}

.pagehding-web-work{
    background-image: url(../img/bg/web-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px 0;
    position: relative;
    height: 250px;
    background-size: cover;
}
h2.icon-h2 {
    color: #068acd;
    font-size: 27px;
}
h3.tech-h3{
    font-size: 18px;
    color: #08a4c8;
    text-align: center;
}
h3.wtech-h3{
    font-size: 18px;
    color: #08a4c8;
    
}
.row.mobile-tech {
    margin-bottom: 30px;
    padding-bottom: 30px;
}



/* .icon-img:hover {
    -webkit-animation: jump 1.5s ease 0s  normal;
    animation: jump 1.5s ease 0s  normal;
}
 */
div.jumpicon {
 
 font-weight:bold;
 color:#4794D3;

 

 -webkit-animation: jump 1.5s ease 0s infinite normal ;
 animation: jump 1.5s ease 0s infinite normal ;
}

@-webkit-keyframes jump {
  0%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  20%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  40%{
	-webkit-transform: translateY(-30px);
	transform: translateY(-30px);
  }
  50%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  60%{
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
  }
  80%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  100%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
}

@keyframes jump {
  0%{
	transform: translateY(0);
  }
  20%{
	transform: translateY(0);
  }
  40%{
	transform: translateY(-30px);
  }
  50%{
	transform: translateY(0);
  }
  60%{
	transform: translateY(-15px);
  }
  80%{
	transform: translateY(0);
  }
  100%{
	transform: translateY(0);
  }
}

.panel-body a {
    color: #068acd;
    font-weight: 600;
}

h4.panel-title {
    color: #068acd;
}
.panel-body {
    padding: 34px;
}

/***Portfolio***/
   .android-frame{
    background-image: url(../img/android-frame.png);
    background-size: cover;
    padding: 62px;
    background-repeat: no-repeat;
    background-position: center;
}

  .iphone-frame{
    background-image: url(../img/iphone-frame.png);
    background-size: cover;
    padding: 68px;
    background-repeat: no-repeat;
    background-position: center;
}
.app-head-icon {
    padding-top: 20px;
    padding-bottom: 20px;
}
h3.portfolio-cname {
    font-size: 22px;
    font-weight: 600;
    color: #1179bc;
}
.webdesign-list {
    padding-top: 35px;
}
.main-menu ul li.active ul li a {
    color: #ffffff;
    position: relative;
}


/***From***/
/*------------- Form ---------------*/

.nb-form {
    position: fixed;
    z-index: 9999;
    width: 25%;
    background: #FFF;
    right: 70px;
    bottom: -370px;
    transition: all .8s cubic-bezier(.22, .67, .43, 1.22) .2s;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}
.nb-form:hover {
    bottom: 0px;
}

/*-- User Icon --*/

.nb-form .user-icon {
    position: absolute;
    top: -49px;
    right: 12px;
    display: block;
    width: 58px;
    margin: 20px auto 15px;
    border-radius: 100%;
}

/*-- Title --*/

.nb-form .title {
   background: #068acd;
    font-size: 22px !important;
    padding: 10px !important;
    color: #fff !important;
    font-weight: 600;
    border-radius: 7px 7px 0 0;
}

/*-- Text --*/

.nb-form p {
    font-size: 13px;
    margin: 0;
    padding: 15px;
    color: #666;
}

.nb-form p.message {
    margin-left: 7px;
}

/*-- Form Elements --*/

.nb-form form {
    padding: 0 15px 15px 15px;
}

.nb-form input,
.nb-form textarea {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    width: 254px;
    max-width: 254px;
    margin-bottom: 10px;
    margin-left: 7px;
    padding: 6px;
    border: none;
    border-radius: 4px;
    color: #999;
    border-bottom: 1px solid #f0f0f0;
}

.nb-form input:focus,
.nb-form textarea:focus {
    outline: none;
    box-shadow: none;
}

.nb-form input[type='submit'] {
    display: block;
    width: 120px;
    margin: 0 auto;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    cursor: pointer;
    transition: all .4s ease;
    color: #fff !important;
    border: none;
}

.nb-form input[type='submit']:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.07),0 1px 7px 0 rgba(0,0,0,0.02),0 3px 1px -1px rgba(0,0,0,0.1);
}

.nb-form textarea {
    min-height: 110px;
}


.nb-form ::-webkit-input-placeholder {
    color:#068acd;
}

.nb-form ::-moz-placeholder{
    color: #068acd;
}

.nb-form :-ms-input-placeholder {
    color: #068acd;
}

.nb-form :-moz-placeholder {
    color: #068acd;
}

.nb-form input[type='submit'] {
    background: #03a9f4;
}
i.demo-rq  {
    float: right;
}
@media screen and (max-width: 676px) {
    .nb-form:hover .user-icon {
        display: none;
    }

    .nb-form .message {
        display: none;
    }

    .nb-form form {
        padding-top: 15px;
    }
    .nb-form{
        right: 50%;
        bottom: -320px;
        left: 50%;
        transform: translateX(-50%);
    }
}

#slider {
width:500px;
top:100px;
position:fixed;
}
#quick-from {
	width: 68%;
    height: auto;
    position: absolute;
    background-color: #fff;
    right: 0;
    /* border: 1px solid #d8d8d8; */
    margin-left: 40;
    padding:0;
    border-radius: 3px;
    box-shadow: 0 0 8px grey;
}
#sidebar {
position:absolute;
top:130px;
left:114px;
box-shadow:0 0 8px gray
}
#sidebar1 {
position:absolute;
top:180px;
left:113px;
box-shadow:0 0 8px gray
}

/* input[type=text] {
margin-top:10px;
padding:6px;
width:100%;
font-size:15px;
border-radius:2px;
border:3px solid #98d0f1
} */

div#title {
position:absolute;
top:300px;
left:650px
}
/* select {
padding:6px;
width:100%;
font-size:15px;
border-radius:2px;
border:3px solid #98d0f1
}
textarea {
padding:6px;
font-size:15px;
border-radius:2px;
border:3px solid #98d0f1;
margin-top:10px;
height:80px;
width:100%
}
button {
background:#2bc1f2;
border:none;
color:#fff;
width:100%;
font-size:22px;
font-weight:bolder;
padding:8px 0;
border-radius:3px;
cursor:pointer;
margin-top:25px
} */


/*-- Title --*/

.quick-form .title {
   background: #068acd;
    font-size: 22px !important;
    padding: 10px !important;
    color: #fff !important;
    font-weight: 600;
    border-radius: 0;
	text-align:center;
	}

/*-- Text --*/

.quick-form p {
    font-size: 13px;
    margin: 0;
    padding: 15px;
    color: #666;
}

.quick-form p.message {
    margin-left: 7px;
}

/*-- Form Elements --*/

.quick-form form {
    padding: 0 15px 15px 15px;
}

.quick-form input,
.quick-form textarea {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    margin-left: 7px;
    padding: 6px;
    border: none;
    border-radius: 4px;
    color: #999;
    border-bottom: 1px solid #f0f0f0;
}

.quick-form input:focus,
.quick-form textarea:focus {
    outline: none;
    box-shadow: none;
}

.quick-form input[type='submit'] {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    cursor: pointer;
    transition: all .4s ease;
    color: #fff !important;
    border: none;
}

.quick-form input[type='submit']:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.07),0 1px 7px 0 rgba(0,0,0,0.02),0 3px 1px -1px rgba(0,0,0,0.1);
}

.quick-form textarea {
    min-height: 110px;
}


.quick-form ::-webkit-input-placeholder {
    color:#068acd;
}

.quick-form ::-moz-placeholder{
    color: #068acd;
}

.quick-form :-ms-input-placeholder {
    color: #068acd;
}

.quick-form :-moz-placeholder {
    color: #068acd;
}

.quick-form input[type='submit'] {
    background: #03a9f4;
}
i.demo-rq  {
    float: right;
}
@media screen and (max-width: 676px) {
    .quick-form:hover .user-icon {
        display: none;
    }

    .quick-form .message {
        display: none;
    }

    .quick-form form {
        padding-top: 15px;
    }
    .quick-form{
        right: 50%;
        bottom: -320px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.quick-head {
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    position: relative;
    text-align: center;
    right: 182px;
    width: 100%;
    background-color: #000;
    top: 159px;
}

.quick  {
    position: fixed;
    z-index: 9999;
    width: 25%;
    background: #FFF;
    right: -340px;
    transition: all .8s cubic-bezier(.22, .67, .43, 1.22) .2s;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}
.quick:hover {
    right: 0px;
}

h2.counter::after {
    content: '+';
    padding: 6px;
}
/***Client slider**/
/* Slider */
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}