﻿.panel-sunland {
    border-color: #a5a5a5;
}
.panel-sunland > .panel-heading {
    color: #8a6d3b;
    background-color: #a5a5a5;
    border-color: #a5a5a5;
}
.panel-sunland > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #a5a5a5;
}
.panel-sunland > .panel-heading .badge {
    color: #fcf8e3;
    background-color: #8a6d3b;
}
.panel-sunland > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #a5a5a5;
}